.form-input-area {
  flex: 1;
  margin-left: 15px;
  padding: 0px 30px;
}

input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0px;
}

input:focus ~ .border {
  width: 100%;
  transition: 0.5s;
}
.border {
  border: 1px solid #006666 !important;
}

.half-input-areas {
  display: flex;
  margin-top: 40px;
}

.half-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.half-input-wrapper:first-child {
  margin-right: 30px;
}
.half-input-wrapper label {
  font-family: Nunito;
  font-weight: 300;
  font-size: 1.1rem;
}

.half-input-wrapper input {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 0;
  font-family: Nunito;
  font-weight: 300;
  font-size: 1rem;
  outline: none;
}

.upload-wrapper {
  border: 1px dashed #cfcfcf;
  border-radius: 5px;
  padding: 5px 30px;
  margin-top: 15px;
  cursor: pointer;
}
.upload-icon {
  width: 70px;
  color: #cfcfcf;
}

.pitch-deck-wrapper {
  margin-top: 20px;
}
.input-heading {
  font-size: 1.1rem;
  font-family: Nunito;
  font-weight: 300;
  margin-bottom: 5px;
}
.submit-button {
  background: #fff;
  color: #006666;
  border: 2px solid #006666;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: Nunito;
  font-weight: 300;
  font-size: 1.3rem;
  cursor: pointer;
}

.form-animation {
  animation: form-animation 0.5s ease-in-out;
}

@keyframes form-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .half-input-areas-2 {
    display: flex;
    flex-direction: column;
  }
}
