<form class="form-input-area form-animation" style="flex: 1">
  <div class="header-wrapper">
    <div class="form-heading">Contact Details</div>
    <img src="../../../assets/logo.png" alt="amity innovation incubator" />
  </div>
  <div class="half-input-areas">
    <div class="half-input-wrapper">
      <label for="first-name"
        >FIRST NAME<span style="color: red">*</span></label
      >
      <input
        type="text"
        id="first-name"
        name="first_mame"
        required
        [(ngModel)="first_name"
        (keyup)="initFirstName()"
      />
      <span class="border"></span>
    </div>
    <div class="half-input-wrapper">
      <label for="last-name">LAST NAME<span style="color: red">*</span></label>
      <input type="text" id="last-name" name="last-name" required />
      <span class="border"></span>
    </div>
  </div>
  <div class="half-input-areas">
    <div class="half-input-wrapper">
      <label for="email">EMAIL<span style="color: red">*</span></label>
      <input type="email" id="email" name="email" required />
      <span class="border"></span>
    </div>
    <div class="half-input-wrapper">
      <label for="mobile">MOBILE<span style="color: red">*</span></label>
      <input type="number" id="mobile" name="mobile" required />
      <span class="border"></span>
    </div>
  </div>
  <div class="half-input-areas">
    <div class="half-input-wrapper">
      <label for="state">STATE<span style="color: red">*</span></label>
      <input type="text" id="state" name="state" required />
      <span class="border"></span>
    </div>
    <div class="half-input-wrapper">
      <label for="city">CITY<span style="color: red">*</span></label>
      <input type="text" id="city" name="city" required />
      <span class="border"></span>
    </div>
  </div>
  <div class="half-input-areas">
    <div class="half-input-wrapper">
      <label for="website">WEBSITE<span style="color: red">*</span></label>
      <input type="text" id="website" name="website" required />
      <span class="border"></span>
    </div>
    <div class="half-input-wrapper">
      <label for="mobile-link"
        >MOBILE APP LINK<span style="color: red">*</span></label
      >
      <input type="text" id="mobile-link" name="mobile-link" required />
      <span class="border"></span>
    </div>
  </div>
  <div class="pitch-deck-wrapper">
    <div class="input-heading">PITCH DECK<span style="color: red">*</span></div>
    <input type="file" id="file" name="file" hidden />
    <label for="file" style="display: flex">
      <div class="upload-wrapper">
        <svg class="upload-icon" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"
          />
        </svg>
      </div>
    </label>
  </div>
  <div class="button-wrapper">
    <button class="submit-button" type="submit">Submit</button>
  </div>
</form>
