.input-wrapper-1 {
  width: 100%;
}
.startup-name-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  position: relative;
}

.startup-name-wrapper label {
  font-family: Nunito;
  font-weight: 300;
  font-size: 1.1rem;
}

.startup-name-wrapper input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 0;
  font-family: Nunito;
  font-weight: 300;
  font-size: 1rem;
  outline: none;
}
input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0px;
}

input:focus ~ .border {
  width: 100%;
  transition: 0.5s;
}
.border {
  border: 1px solid #006666 !important;
}

.half-input-areas {
  display: flex;
  margin-top: 40px;
}

.half-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.half-input-wrapper:first-child {
  margin-right: 30px;
}
.half-input-wrapper label {
  font-family: Nunito;
  font-weight: 300;
  font-size: 1.1rem;
}

.half-input-wrapper input {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 0;
  font-family: Nunito;
  font-weight: 300;
  font-size: 1rem;
  outline: none;
}
