<div class="input-wrapper-1">
  <div class="startup-name-wrapper">
    <label for="startup-name"
      >STARTUP NAME<span style="color: red">*</span></label
    >
    <input
      type="text"
      id="startup-name"
      name="startupName"
      required
      [(ngModel)]="name"
      (keyup)="initStartupName()"
    />
    <span class="border"></span>
  </div>
  <div class="half-input-areas">
    <div class="half-input-wrapper">
      <label for="industry">INDUSTRY<span style="color: red">*</span></label>
      <input
        type="text"
        id="industry"
        name="industry"
        required
        [(ngModel)]="industry"
        (keyup)="initIndustry()"
      />
      <span class="border"></span>
    </div>
    <div class="half-input-wrapper">
      <label for="sector">SECTOR<span style="color: red">*</span></label>
      <input
        type="text"
        id="sector"
        name="sector"
        required
        [(ngModel)]="sector"
        (keyup)="initSector()"
      />
      <span class="border"></span>
    </div>
  </div>
</div>
