.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 25px;
}
.form-heading {
  align-self: center;
  font-family: Nunito;
  font-weight: 300;
  font-size: 2.1rem;
  color: #006666;
}
