.input-wrapper-2 {
  display: flex;
  height: -webkit-fit-available;
  margin-top: 40px;
}

.input-heading {
  font-size: 1.1rem;
  font-family: Nunito;
  font-weight: 300;
  margin-bottom: 5px;
}
.mat-button-toggle {
  transition: 0.25s ease-in-out;
}
.mat-button-toggle-checked {
  background-color: #006666;
  color: #fff;
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 35px;
  cursor: pointer;
}
.textarea-wrapper textarea {
  margin-top: 5px;
  border-radius: 5px;
  outline-color: #006666;
  flex: 0.9;
  resize: none;
  font-family: Nunito;
  font-weight: 300;
  font-size: 1rem;
  min-width: 250px;
}
.toggle-wrapper {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #191919;
  border-radius: 20px;
  width: min-content;
  padding: 4px;
  z-index: 10;
}
.toggle-wrapper span {
  padding: 5px 10px;
  font-size: 0.8rem;
  font-family: Nunito;
  font-weight: 300;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.active-pill {
  background: #006666;
  color: #fff;
  border-radius: 50px;
  position: absolute;
  top: 4px;
  z-index: -1;
  height: 1.2rem;
  width: 6rem;
  transition: all 0.2s ease-in-out;
}
.pill-left {
  left: 4px;
}
.pill-right {
  left: 125px;
}
.active-pill-text {
  color: #fff;
}

.checkbox-logo-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.example-section {
  margin: 12px 0;
}

ul {
  list-style-type: none;
  margin-top: 4px;
  padding: 0;
}
ul li {
  font-size: 1rem;
}

.upload-wrapper {
  border: 1px dashed #cfcfcf;
  border-radius: 5px;
  padding: 10px 60px;
  margin-top: 15px;
  cursor: pointer;
}
.upload-icon {
  width: 70px;
  color: #cfcfcf;
}
.button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.continue-button {
  background-color: #006666;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: Nunito;
  font-weight: 300;
  font-size: 1.3rem;
  cursor: pointer;
}
.char-count {
  font-family: Nunito;
  font-size: 0.8rem;
  text-align: right;
}

@media (max-width: 1280px) {
  .mat-button-toggle-group {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1182px) {
  .input-wrapper-2 {
    flex-direction: column;
  }
  .textarea-wrapper {
    padding-left: 0;
  }
  .textarea-wrapper textarea {
    min-height: 150px;
  }
}
