<div class="input-wrapper-2">
  <div class="options-wrapper">
    <div>
      <div class="input-heading">STAGE<span style="color: red">*</span></div>
      <mat-button-toggle-group
        name="fontStyle"
        aria-label="Font Style"
        [(ngModel)]="stage"
      >
        <mat-button-toggle value="Ideation" (change)="getActiveBtn($event)"
          >Ideation</mat-button-toggle
        >
        <mat-button-toggle value="Validation" (change)="getActiveBtn($event)"
          >Validation</mat-button-toggle
        >
        <mat-button-toggle
          value="Early Traction"
          (change)="getActiveBtn($event)"
          >Early Traction</mat-button-toggle
        >
        <mat-button-toggle value="Scaling" (change)="getActiveBtn($event)"
          >Scaling</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
    <div class="toggle-wrapper">
      <span
        (click)="toggleBootstrap()"
        [ngClass]="{ 'active-pill-text': isBootStrapped }"
        >BOOTSTRAPED</span
      >
      <span
        (click)="toggleFunded()"
        [ngClass]="{ 'active-pill-text': !isBootStrapped }"
        >FUNDED</span
      >
      <span
        class="active-pill"
        [ngClass]="{
          'pill-left': isBootStrapped,
          'pill-right': !isBootStrapped
        }"
      ></span>
    </div>
    <div class="checkbox-logo-wrapper">
      <div>
        <div class="input-heading">
          INTERESTS<span style="color: red">*</span>
          <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox
                class="example-margin"
                [checked]="allComplete"
                (change)="setAll($event.checked)"
              >
                {{ interest.name }}
              </mat-checkbox>
            </span>
            <span class="example-list-section">
              <ul>
                <li *ngFor="let subtask of interest.subinterests">
                  <mat-checkbox
                    [(ngModel)]="subtask.completed"
                    (ngModelChange)="updateAllComplete()"
                  >
                    {{ subtask.name }}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </section>
        </div>
      </div>
      <div class="logo-upload-wrapper">
        <div class="input-heading">LOGO</div>
        <input type="file" id="file" name="file" hidden />
        <label for="file">
          <div class="upload-wrapper">
            <svg class="upload-icon" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"
              />
            </svg>
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="textarea-wrapper">
    <label class="input-heading" for="about-startup">
      ABOUT STARTUP<span style="color: red">*</span>
    </label>
    <textarea
      id="about-startup"
      maxlength="1200"
      [(ngModel)]="aboutStartup"
      (keyup)="updateCharCount()"
    ></textarea>
    <div class="char-count">{{ charCount }}</div>
  </div>
</div>
