.app-wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
}

@media (max-width: 1220px) {
  .app-wrapper {
    padding: 3rem 0;
  }
}
