<svg viewBox="0 0 24 24" class="arrow arrow-back" (click)="goToAboutStartUp()">
  <path
    fill="#fff"
    d="M12,7L17,12H14V16H10V12H7L12,7M12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20Z"
  />
</svg>
<img class="sidebar-logo" src="../../assets/logo-bg.png" alt="logo" />
<svg
  viewBox="0 0 24 24"
  class="arrow arrow-forward"
  (click)="goToContactForm()"
>
  <path
    fill="#fff"
    d="M12,17L7,12H10V8H14V12H17L12,17M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z"
  />
</svg>
