.arrow {
  width: 55px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .arrow-back {
    transform: rotate(-90deg);
  }
  .arrow-forward {
    transform: rotate(-90deg);
  }
}

img {
  display: none;
}
@media (max-width: 1000px) {
  img {
    display: block;
  }
}

@media (max-width: 740px) {
  img {
    width: 200px;
  }
}
