/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1182px) {
  .half-input-areas {
    flex-direction: column;
  }
  .startup-name-wrapper {
    margin-top: 35px;
  }
  .half-input-wrapper:first-child {
    margin-right: 0px;
  }
  .half-input-wrapper:last-child {
    margin-top: 25px;
  }
}
