.form-wrapper {
  position: relative;
  min-height: 90vh;
  width: 70vw;
  margin: 0 auto;
  background: #fff;
  box-shadow: 1px 1px 11px 13px #cccccc78;
  border-radius: 10px;
  display: flex;
}
.sidebar-wrapper {
  max-width: 200px;
  background: #66b2b2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 4rem;
}

.sidebar-cut {
  position: absolute;
  left: -65px;
  height: 100%;
}
.form-input-area {
  flex: 1;
  margin-left: 15px;
  padding: 0px 30px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.form-heading {
  align-self: center;
  font-family: Nunito;
  font-weight: 300;
  font-size: 2.1rem;
  color: #006666;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.continue-button {
  background-color: #006666;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: Nunito;
  font-weight: 300;
  font-size: 1.3rem;
  cursor: pointer;
}

input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0px;
}

input:focus ~ .border {
  width: 100%;
  transition: 0.5s;
}
.border {
  border: 1px solid #006666 !important;
}

.half-input-areas {
  display: flex;
  margin-top: 40px;
}

.half-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.half-input-wrapper:first-child {
  margin-right: 30px;
}
.half-input-wrapper label {
  font-family: Nunito;
  font-weight: 300;
  font-size: 1.1rem;
}

.half-input-wrapper input {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  padding: 5px 0;
  font-family: Nunito;
  font-weight: 300;
  font-size: 1rem;
  outline: none;
}

.upload-wrapper {
  border: 1px dashed #cfcfcf;
  border-radius: 5px;
  padding: 5px 30px;
  margin-top: 15px;
  cursor: pointer;
}
.upload-icon {
  width: 70px;
  color: #cfcfcf;
}

.pitch-deck-wrapper {
  margin-top: 20px;
}
.input-heading {
  font-size: 1.1rem;
  font-family: Nunito;
  font-weight: 300;
  margin-bottom: 5px;
}
.submit-button {
  background: #fff;
  color: #006666;
  border: 2px solid #006666;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: Nunito;
  font-weight: 300;
  font-size: 1.3rem;
  cursor: pointer;
}

.form-animation {
  animation: form-animation 0.5s ease-in-out;
}

@keyframes form-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1220px) {
  .sidebar-cut {
    display: none;
  }
  .form-wrapper .continue-button {
    margin: 15px 0;
  }
}
@media (max-width: 1000px) {
  .form-wrapper {
    flex-direction: column;
    min-height: 95vh;
  }

  .sidebar-wrapper {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
  }
  .header-wrapper img {
    display: none;
  }
}

@media (max-width: 740px) {
  .sidebar-wrapper {
    padding: 20px 1rem;
  }
  .form-input-area {
    padding: 10px;
  }
}
@media (max-width: 560px) {
  .form-wrapper {
    width: 90vw;
  }
}
