<div class="form-wrapper">
  <img
    class="sidebar-cut"
    src="../../../assets/sidebar-cut.svg"
    alt="form sidebar cut"
  />
  <app-sidebar
    (onAboutStartUpFormOpen)="openStartUpForm()"
    (onContactFormOpen)="openContactForm()"
    class="sidebar-wrapper"
  ></app-sidebar>

  <form
    class="form-input-area form-animation"
    *ngIf="isAboutStartupFormOpen; else elseBlock"
  >
    <div class="header-wrapper">
      <div class="form-heading">About Startup</div>
      <img src="../../../assets/logo.png" alt="amity innovation incubator" />
    </div>
    <div class="input-container">
      <app-topinputarea
        (startupInfo)="saveStartupInfo($event)"
      ></app-topinputarea>
      <app-bottominputarea
        (initAboutStartup)="saveAboutStartup($event)"
        (initStageToogle)="saveStageToggle($event)"
        (initStageButtonToggle)="saveStageButtonToggle($event)"
        (initInterests)="saveInterests($event)"
      ></app-bottominputarea>
    </div>
    <div class="button-wrapper">
      <button class="continue-button" (click)="goToContactForm()">
        Continue &gt;
      </button>
    </div>
  </form>

  <ng-template #elseBlock>
    <form class="form-input-area form-animation">
      <div class="header-wrapper">
        <div class="form-heading">Contact Details</div>
        <img src="../../../assets/logo.png" alt="amity innovation incubator" />
      </div>
      <div class="half-input-areas">
        <div class="half-input-wrapper">
          <label for="first-name"
            >FIRST NAME<span style="color: red">*</span></label
          >
          <input
            type="text"
            id="first-name"
            name="first_name"
            [(ngModel)]="first_name"
            (keyup)="saveFirstName()"
            required
          />
          <span class="border"></span>
        </div>
        <div class="half-input-wrapper">
          <label for="last-name"
            >LAST NAME<span style="color: red">*</span></label
          >
          <input
            type="text"
            id="last-name"
            name="last_name"
            required
            [(ngModel)]="last_name"
            (keyup)="saveLastName()"
          />
          <span class="border"></span>
        </div>
      </div>
      <div class="half-input-areas">
        <div class="half-input-wrapper">
          <label for="email">EMAIL<span style="color: red">*</span></label>
          <input
            type="text"
            id="email"
            name="email"
            required
            [(ngModel)]="email"
            (keyup)="saveEmail()"
          />
          <span class="border"></span>
        </div>
        <div class="half-input-wrapper">
          <label for="mobile">MOBILE<span style="color: red">*</span></label>
          <input
            type="text"
            id="mobile"
            name="mobile"
            required
            [(ngModel)]="mobile"
            (keyup)="saveMobile()"
          />
          <span class="border"></span>
        </div>
      </div>
      <div class="half-input-areas">
        <div class="half-input-wrapper">
          <label for="state">STATE<span style="color: red">*</span></label>
          <input
            type="text"
            id="state"
            name="state"
            required
            [(ngModel)]="state"
            (keyup)="saveState()"
          />
          <span class="border"></span>
        </div>
        <div class="half-input-wrapper">
          <label for="city">CITY<span style="color: red">*</span></label>
          <input
            type="text"
            id="city"
            name="city"
            required
            [(ngModel)]="city"
            (keyup)="saveCity()"
          />
          <span class="border"></span>
        </div>
      </div>
      <div class="half-input-areas">
        <div class="half-input-wrapper">
          <label for="website">WEBSITE<span style="color: red">*</span></label>
          <input
            type="text"
            id="website"
            name="website"
            required
            [(ngModel)]="website"
            (keyup)="saveWebsite()"
          />
          <span class="border"></span>
        </div>
        <div class="half-input-wrapper">
          <label for="mobile-link"
            >MOBILE APP LINK<span style="color: red">*</span></label
          >
          <input
            type="text"
            id="mobile-link"
            name="mobileAppLink"
            required
            [(ngModel)]="mobileAppLink"
            (keyup)="saveMobileAppLink()"
          />
          <span class="border"></span>
        </div>
      </div>
      <div class="pitch-deck-wrapper">
        <div class="input-heading">
          PITCH DECK<span style="color: red">*</span>
        </div>
        <input type="file" id="file" name="file" hidden />
        <label for="file" style="display: flex">
          <div class="upload-wrapper">
            <svg class="upload-icon" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"
              />
            </svg>
          </div>
        </label>
      </div>

      <div class="button-wrapper">
        <button class="submit-button" type="submit" (click)="handleSubmit()">
          Submit
        </button>
      </div>
    </form>
  </ng-template>
</div>
